
.home-cont{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}


/* container - 1 */
@media screen and (max-width: 1200px) {
    .cont-1 {
        display: none;
    }

}
/* https://www.svgrepo.com/show/532195/menu.svg" */
.cont-1{
    width: 25%;
    position: fixed;

}

.list-cont a{
 text-decoration: none;
 
}
.list{
    list-style:none;
}
.list-cont
{
    border-right: 100px;
    margin-left: 3px ;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.cont-1-fc{
    color: black;
    font-size: 17px;
    fill: green;
}

/* container - 2 */
.cont-2{
    width: 70%;
}
.cont-2-nav{
    position:sticky;
    top: 0;
    z-index: 70;
    background-color: rgb(255, 255, 255);

}
.cont-2-fc{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

/* Menu Button */
@media screen and (min-width: 1200px) {
.menu-button
{
    display: none;
}
}
@media screen and (max-width: 1200px) {

.menu-button
{
    margin-top: 20px;
    margin-left:70%;
    margin-right: 10%;
    z-index: 100;
    position: fixed;
}

}
.logo-home{
    display: none;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

/* Post button */
.post-d{
    border-radius: 20px;
    width: 5rem;
    background-color: rgb(5, 160, 227);
    color: white;
}

.btn:hover,
.btn :active,
.btn ::after
{
background-color: rgb(5, 143, 201);
color: white;
}


/* Impression list */
.impression-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
    margin-left: 25px;  
    margin-bottom: 0px;
}
.impression-list li
{
    display: flex;
}

.impression-list li p
{
    font-size: 0.9rem;
    margin-left: 1px;    
}
.tweet-user-list{
    display: flex;
    
}
.tweet-data{
    margin-left: 50px;
}
.user-name
{
    margin-right: 2%;
    margin-left: 2%;
    font-size: 1.15rem;
}
.user-id{
    font-size: 1rem;
    font-weight: lighter;
}
.tweet-image{
    height: 70%;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 10px;
}